*{
  font-family: Fixedsys Excelsior;
}

@font-face {
  font-family:'Fixedsys Excelsior';
  src: url('/rsc/font/Fixedsys\ Excelsior\ 3.01\ Regular.ttf');
}

html, body{
    font-size: 1.65vw;
}

body {
    background-image: url("/rsc/img/bg_macintosh.png");
    background-size: cover;
    clip: rect(); /* INVESTIGAR IMPORTANTE */
    background-repeat: no-repeat; /* INVESTIGAR IMPORTANTE */
  }
  
  .main_container {
    display: flex; /* Indica que es tipo flexbox */
    flex-direction: column; /* Indica la direccion del orden de los elementos*/ 
    width: 32vw;
    height: 48vh;
    border: 2px solid #0FFF50;
    border-radius: 5%; 
    box-sizing: border-box; /* Pone el margen/padding/border en 0, para evitar por defecto */
    position:relative;
    margin: auto;
    top: 3.3rem; 
    justify-content: center;
    cursor: url('img/vintage_cursor_default.png'), auto;

  }
  .main_container__text{
    text-align: justify;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #0FFF50;
    margin-bottom: 3.7rem;
  }

  .main_container__copyright{
    color: #0FFF50;
    text-align: right;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 3.7rem;

  }
  
  .main_container__button_container button {
    background-color: transparent;
    font-size: 0.9rem;
    color: #0FFF50;
    width: 100%;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .main_container__button_container button:hover{
    background-color: #0FFF50;
    color: black;
    cursor: url('/img/vintage_cursor_pointer.png'), auto;
  }
  
  .main_container__input_text {
    display: none;
  }