:root{
  --fontsize: 0.9rem;
}

* {
  font-family: Fixedsys Excelsior;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pone el margen/padding/border en 0, para evitar el que viene por defecto en todos los navegadores */
    text-decoration: none;
}

@font-face {
  font-family: "Fixedsys Excelsior";
  src: url("/rsc/font/Fixedsys\ Excelsior\ 3.01\ Regular.ttf");
}

html, body {
  font-size: 1.65vw;
}

body {
  background-image: url("rsc/img/bg_macintosh.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /*Scrollbar configuracion*/
  --sb-track-color: transparent;
  --sb-thumb-color: #0fff50;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

/* Configutacion de la pantalla */
.main_container {
  display: block;
  width: 32vw;
  height: 48vh;
  border: 2px solid #0fff50;
  border-radius: 5%;
  position: relative;
  margin: auto;
  top: 2.6rem;
  cursor: url("/rsc/img/vintage_cursor_default.png"), auto;
}

/* Ventana Principal*/
.main_container__main_window{
  height: 480px;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.main_container__main_window__text_container {
  font-size: var(--fontsize);
  text-align: justify;
  margin: 0.3rem;
  color: #0fff50;
}

.main_container__main_window__button_container button {
  background-color: transparent;
  font-size: var(--fontsize);
  color: #0fff50;
  width: 100%;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.main_container__main_window__button_container button:hover {
  background-color: #0fff50;
  color: black;
  cursor: url("/rsc/img/vintage_cursor_pointer.png"), auto;
}

.main_container__main_window__copyright{
  color: #0fff50;
  font-size: var(--fontsize);
  text-align: right;
  margin: 0.5rem;
}

/* Ventana de Encrypt */
.main_container__encrypt_window {
  height: 100%;
}

/* Configuración del textarea */
.main_container__encrypt_window__input_text {
  background-color: transparent;
  border-radius: 5%;
  border: 2px solid #0fff50;
  font-size: var(--fontsize);
  color: #0fff50;
  width: 95%;
  height: 80%;
  margin: 0.5rem;
  outline: none;
  resize: none;
  padding: 0.5rem;
}

.main_container__encrypt_window__input_text:focus {
  border: 2px solid #0fff50;
  outline: none;
  cursor: url("/rsc/img/vintage_cursor_pointer.png"), auto;
}

.main_container__encrypt_window__input_text::placeholder {
  color: #0fff5050;
}

.main_container__encrypt_window__input_text:focus::placeholder {
  color: transparent;
}
/* ---------------------------------------------------------- */

/* Configuración del contenedor de botones */

.main_container__encrypt_window__buttons_container {
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
/* ------------------------------------------------------- */

/* Configuración de los botones */
.main_container__encrypt_window__buttons_container button {
  background-color: transparent;
  font-size: var(--fontsize);
  color: #0fff50;
  width: 50%; /* REVISAR */
  border: 2px solid #0fff50;
  margin: 0.1rem;
}

.main_container__encrypt_window__buttons_container button:hover {
  background-color: #0fff50;
  color: black;
  cursor: url("/rsc/img/vintage_cursor_pointer.png"), auto;
}
/* ------------------------------------------------------------ */

/* Ventana de Decrypt */
.main_container__decrypt_window {
  display: none;
}
